<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page Not Found</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="authenticity_token" name="csrf-param" />
  <meta name "author" content="ComproPago">
  <meta content="9ZSEP6FV3F5Ng9v8ofy119IKpYeLd/hswPSl1SXnrm0=" name="csrf-token" />
  <meta name="google-site-verification" content="xw78CPbqZGCZNgprZaDD2NHE4KOdOk17W1I1qhHxIe8" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">
</head>
<body>
  <div class="grid-container text-center">
    <div class="grid-x grid-paddin-x">
      <div class="cell">
        <h1>404</h1>
        <h3 class="font-bold">We couldn't find the page..</h3>
        <p>
        Sorry, but the page you are looking for was either not found or does not exist.
        Try refreshing the page or go back to the previous page.
        </p>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
</body>
</html>